{% extends 'studentview/mobile/layout.html' %}

{% block ContentView %}

<!--Beginning of Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <!--Card Started-->
            <div class="card">
                <!--Header of Card-->
                <div class="card-header border-0" style="border-radius: 2rem 0rem 0rem 0rem;background-color: transparent">
                    <img class="collapse-item rounded-circle d-inline" src="https://source.unsplash.com/random/80x80" />
                    <br class="d-block d-sm-none">
                    <h4 class="m-0 font-weight-bold text-primary d-inline">&nbsp;{{ name }}</h4>
                </div>
                <!--Body of Card-->
                <div class="card-body">
                    <ul>
                        <li><b>Username</b>: {{ username }} </li>
                        <li><b>Email ID</b>: {{ email }}</li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="card-columns">
                {% for event_data in MyEvents %}
                    {% if not event_data.completed_check %}
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 border-left-primary">
                                <a href={{ event_data.url_redirect }} style="text-decoration:none;">
                                    <h4 class="m-0 font-weight-bold text-primary">{{ event_data.name }}</h4>
                                </a>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><b>Event Dates</b>: {{ event_data.event_dates }}</li>
                                    {% if event_data.category %}
                                        <li><b>Category</b>: {{ event_data.category}}</li>
                                    {% endif %}
                                    <li><b>Registration Deadline</b>: {{ event_data.registration_deadline }}</li>
                                    <li><b>Event Status</b>: Registrations Open</li>
                                </ul> 
                            </div>
                        </div>
                    {% else %}
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 border-left-secondary">
                                <h4 class="m-0 font-weight-bold text-secondary">{{ event_data.name }}</h4>    
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><b>Event Dates</b>: {{ event_data.event_dates }}</li>
                                    {% if event_data.category %}
                                        <li><b>Category</b>: {{ event_data.category}}</li>
                                    {% endif %}
                                    <li><b>Registration Deadline</b>: {{ event_data.registration_deadline }}</li>
                                    <li><b>Event Status</b>: Registrations Completed</li>
                                </ul> 
                            </div>
                        </div>
                    <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}