{% extends 'studentview/mobile/layout.html' %}

<!-- To display all the search results -->

{% block ContentView %}

<div class="container-fluid">
  <!-- Page Heading -->   
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <a href={{ header_redirect }}><h1 class="h3 mb-0 text-gray-800">{{ event_name }}</h1></a>
  </div>
  {% for event_data in subevents %}
    <div class="row">
      <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header border-0 bg-white" style="border-radius: 3rem 0rem 0rem 0rem;">
              <div class="row" style="width:100%;">
                <div class="d-inline">
                  <h2 class="font-weight-bold text-primary">&nbsp;{{ event_data.name }}</h2>
                </div>
              </div>
            </div>
            <div class="card-body text-secondary">
              <div class="row">
                <div class="col">
                  <p><b>Dates Of Event</b>: {{ event_data.dates }}</p>
                  <p><b>Teacher Incharge</b>: {{ event_data.teacher_incharge }}</p>
                  <p><b>Deadline</b>: {{ event_data.last_date }}</p>
                  <p><b>Event Type</b>: {{ event_data.type }}</p>
                  {% if event_data.allowed_grades != "ALL" %}
                    <p><b>Grades</b>: {{ event_data.allowed_grades }}</p>
                  {% endif %}
                  <p><b>Available Slots</b>: {{ event_data.available_slots }}</p>
                  {% if event_data.category %}
                    <p><b>Category</b>: {{ event_data.category }}</p>
                  {% endif %}
                  {% if event_data.completed_check %}
                    <p><b>Event Status</b>: Registrations Completed</p>
                  {% else %}
                    <p><b>Event Status</b>: Registrations Open</p>
                  {% endif %}
                  {% if event_data.event_information != "" %}
                    <p><b>Event Description</b>: {{ event_data.event_information }}</p>
                  {% endif %}
                  {% if event_data.event_requirements != "" %}
                    <p><b>Requirements</b>: {{ event_data.event_requirements }}</p>
                  {% endif %}
                  {% if event_data.event_attachment != '' %}
                    <p><b>Attachment</b>: <a href="{{ event_data.event_attachment.url }}" download><i class="fas fa-file"></i></a></p>
                  {% endif %}
                </div>
              </div>
              {% if not event_data.completed_check %}
                {% if event_data.my_registered_event %}
                  <div class="card-footer" style=" border-radius: 2rem; background-color: #2196f3;">
                    <h4 style="vertical-align: middle;color:white;padding-top: 6px;" align='center'>
                      REGISTRATION SENT
                    </h4>
                  </div>
                {% else %}
                  <div class="card-footer"  style="border-radius:2rem;background-color: #2196f3;">
                    <a href={{ event_data.url_redirect }} style="text-decoration:none">
                      <button class="btn" style="width: 100%;padding-top: 10px;">
                        <h4 style="vertical-align: middle;color:white;" align='center'>
                          REGISTER
                        </h4>
                      </button>
                    </a>
                  </div>
                {% endif %}
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}