{% extends 'teacherview/layout.html' %}
{% load crispy_forms_tags %}

{% block ContentView %}
<div class="container-fluid">
	<div clas="card shadow mb-4" style="border-radius: 25px;">
		<div class="card-header border-left-success" style="border-radius: 0px 25px 25px 0px;">
			<h4 class="m-0 font-weight-bold text-success">{{ title }}</h4>
		</div>
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group" id="EventForm" >
						{{ form|crispy }}
				</fieldset>
				<div class="form-group">
						<button class="btn green text-white" type="submit" name="file" style="width:100%">Submit</button>
					</div>
			</form>	
		</div>
	</div>
</div>

{% endblock %}