{% extends 'teacherview/layout.html' %}
{% load crispy_forms_tags %}

{% block ContentView %}
<!--<div class="container-fluid">
	<div clas="card shadow mb-4" style="border-radius: 25px;">
		<div class="card-header border-left-success" style="border-radius: 0px 25px 25px 0px;">
			<h4 class="m-0 font-weight-bold text-success">{{ title }}</h4>
		</div>
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group" id="EventForm" >
						{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn green text-white" type="submit" name="file" style="width:100%">Submit</button>
				</div>
			</form>	
		</div>
	</div>
</div>-->
<div class="container-fluid">
	<div class="card shadow mb-4" style="border-radius: 25px;">
		<div class="card-header">
			<h4 class="m-0 font-weight-bold text-success">{{ title }}</h4>
		</div>
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group" id="EventForm">
					<div class="row">
						<div class="col">
							<label for="event_type">Event Participation Type: </label>
							{{ form.event_type }}
							<small class="text-disabled">Individual Event or Group Event</small>
							<br>
							<label for="category">Category: </label>
							{{ form.category }}
							<small class="text-disabled">Event Category</small>
							<br>
							<label for="teacher_incharge">Teacher Incharge: </label>
							{{ form.teacher_incharge }}
							<br>
							<label for="maximum_applicants">Maximim applications: </label>
							{{ form.maximum_applicants }}
							<small class="text-disabled">Maximum Number Of Applications</small>
							<br>
							<label for="maximum_participants">Maximum pariticipants: </label>
							{{ form.maximum_participants }}
							<small class="text-disabled">Maximum Number Of Students Who Can Participate In An Event</small>
							<br>
							<label for="allowed_grades">Allowed Grades: </label>
							{{ form.allowed_grades }}
							<small class="text-disabled">Grades Allowed. (Eg: 9th,10th)</small>
							<br>
							<label for="add_attachment">Attachment: </label>
							{{ form.add_attachment }}
							<small class="text-disabled"></small>
						</div>
						<div class="col">
							<label for="requirements">Additional Requirements: </label>
							{{ form.requirements }}
							<small class="text-disabled">Requirements or Selection Criteria.</small>
							<br>
							<label for="event_description">Event Description: </label>
							{{ form.event_description }}
							<small class="text-disabled">Information About the Event (eg: Website Links)</small>
							<br>
							<label for="registration_deadline">Last Date To Apply: </label>
							{{ form.registration_deadline }}
							<small class="text-disabled">Last Date Of Registration (eg: 03/12/2019)</small>
							<div class="row">
								<div class="col">
									<br>
									<label for="start_date">Event Start Date: </label>
									{{ form.start_date }}
									<small class="text-disabled">Start Date Of The Event (eg: 01/01/2020)</small>
								</div>
								<div class="col">
									<br>
									<label for="last_date">Event End Date: </label>
									{{ form.last_date }}
									<small class="text-disabled">Last Date Of The Event (eg: 03/01/2020)</small>
								</div>
							</div>
						</div>
					</div>	
					<div class="form-group">
						<center>
							<button class="btn btn-success" type="submit" name="file" style="width:100%; border-radius:25px; padding:15px;">Submit</button>
						</center>
					</div>				
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}