{% extends 'teacherview/layout.html' %}
{% load crispy_forms_tags %}

{% block ContentView %}
<div class="container-fluid">
	<div class="card-header border-left-success">
		{{ title }}
	</div>
	<div class="card-body">
		<form method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
			<fieldset class="form-group" id="EventForm">
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit" name="attachment" style="width:90%;">Submit</button>
			</div>
		</form>
	</div>
</div>


{% endblock %}