{% extends 'studentview/layout.html' %}

{% block ContentView %}

<!--Beginning of Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <!--Card Started-->
            <div class="card">
                <!--Header of Card-->
                <div class="card-header">
                    <img class="collapse-item rounded-circle" src="https://source.unsplash.com/random/80x80" />
                    <br>
                    <br>
                    <h4 class="m-0 font-weight-bold text-primary">USER_NAME</h4>
                </div>
                <!--Body of Card-->
                <div class="card-body">
                    Achievements Appear Here
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Content-->

{% endblock %}