{% extends 'teacherview/layout.html' %}

{% block ContentView %}

<!--Beginning of Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <!--Card Started-->
            <div class="card">
                <!--Header of Card-->
                <div class="card-header">
                    <div class="row">
                        <img class="collapse-item rounded-circle" src="https://source.unsplash.com/random/80x80">
                        <h6 class="m-0 font-weight-bold text-success">USER_NAME</h6>
                    </div>
                </div>
                <!--Body of Card-->
                <div class="card-body">
                    Achievements Appear Here
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Content-->

{% endblock %}