{% extends 'studentview/layout.html' %}
{% load crispy_forms_tags %}

{% block ContentView %}

<div class="container-fluid">
	<div clas="card shadow mb-4" style="border-radius: 25px;">
        <div class="card-header border-left-primary" style="border-radius: 0px 25px 25px 0px;">
            {% if event_name != title %}
                <h4 class="m-0 font-weight-bold text-primary">{{ event_name }}- {{ title }}</h4>
            {% else %}
                <h4 class="m-0 font-weight-bold text-primary">{{ event_name }}</h4>
            {% endif %}
        </div>
		<div class="card-body">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group" id="RegistrationForm" >
						{{ form|crispy }}
                </fieldset>
                <br>
                <h3>
                    <b>Note</b>: Kindly Update Your 'My Acheivements' Section As They Will Be Used For Your Decision.
                </h3>
                <br>
				<div class="form-group">
					<button class="btn green text-white" type="submit" name="file" style="width:100%">Submit Application</button>
				</div>
			</form>	
		</div>
	</div>
</div>

{% endblock %}