{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="theme-color" content="#2196f3">

  {% if page_title %}
    <title>{{page_title}}</title>
  {% else %}
    <title>EventDiPS</title>
  {% endif %}

  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
   <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static "teacherview/css/sb-admin-2.min.css" %}" rel="stylesheet">

</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav blue sidebar sidebar-dark accordion toggled" id="accordionSidebar" >
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'teacher-homepage' %}">
        <img src="{% static "teacherview/EventDipsMedium.png" %}" style="width: 100% ;  filter: drop-shadow(0 0 8px #FFFFFF);" >
      </a>

      <!-- Divider -->
      
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'teacher-homepage' %}" >
          <i class="fas fa-home"></i>
          <span>Homepage</span>
        </a>
      </li>
   
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - User Information -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fas fa-user"></i>
          <span>My Profile</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Profile</h6>
            <center><img class="collapse-item rounded-circle" src="https://source.unsplash.com/random/50x50"></center>
            {% load student_tags %} 
            <p class="collapse-header">  {% student_name request %}</p>
            <a class="collapse-item" href="{% url 'student-profile' %}">View Profile</a>
            <a class="collapse-item" href="{% url 'student-achievements' %}">My Achievements</a>
            <a class="collapse-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </li>
        
      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-calendar"></i>
          <span>Events</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Events Catagories:</h6>
            <a class="collapse-item" href='/students/category/IT'>IT</a>
            <a class="collapse-item" href='/students/category/Sport'>Sport</a>
            <a class="collapse-item" href='/students/category/Debate'>Debate</a>
            <a class="collapse-item" href='/students/category/Public%20Speaking'>Public Speaking</a>
            <a class="collapse-item" href='/students/category/Education'>Educational</a>
            <a class="collapse-item" href='/students/category/Literature'>Literature</a>
            <a class="collapse-item" href='/students/category/Design'>Design</a>
            <a class="collapse-item" href='/students/category/Science'>Science</a>
          </div>
        </div>
      </li>
      
      <!--Divider-->
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - Pages - Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'my-applications' %}" aria-expanded="true">
          <i class="fas fa-calendar-alt"></i>
          <span>My Applications</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand sticky-top navbar-light bg-white topbar mb-4 shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="{% url 'student-search' %}">
            <div class="input-group">
              <input type="text" name="query" id="searchbar" class="form-control bg-light border-0 small" placeholder="Search and press Enter....." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn blue" type="button" style="border: 0; shadow:0" onclick="searchFunction()">
                  <i class="fas fa-search fa-sm" style="color:white" id='searchButton'></i> 
                </button>
              </div>
            </div>
          </form> 

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" id="searchbarXS" placeholder="Search for Events..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" onclick="searchFunctionXS()">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                {% if notifications_days_left or notifications_decisions %}
                  <span class="badge badge-danger badge-counter">{{ notification_count }}</span>
                {% else %}
                  <span class="badge badge-danger badge-counter">0</span>
                {% endif %}
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header blue">
                  Notifications
                </h6>
                {% if notifications_days_left %}
                  {% for notification_data in notifications_days_left %}
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-success">
                          <i class="fa fa-exclamation-triangle text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-800">{{ notification_data.notification_header }}</div>
                        <span class="font-weight-bold">{{ notification_data.event_name }}{{ notification_data.days_left }}</span>
                      </div>
                    </a>
                  {% endfor %}
                {% endif %}
                  
                {% if notifications_days_left %}
                  {% for notification_data in notifications_decisions %}
                    {% if notification_data.decision %}
                      <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                          <div class="icon-circle bg-success">
                            <i class="fa fa-exclamation-triangle text-white"></i>
                          </div>
                        </div>
                        <div>
                          <div class="small text-gray-800">{{ notification_data.notification_header }}</div>
                          <span class="font-weight-bold">{{ notification_data.event_name }}{{ notification_data.decision }}</span>
                        </div>
                      </a>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                  
                  <!--
                  {% for notification_data in notifications.read %}
                  <a class="dropdown-item d-flex align-items-center" href={{notification_data.url_redirect}}>
                    <div class="mr-3">
                      <div class="icon-circle bg-success">
                        <i class="fas fa-user text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">{{notification_data.timestamp}}</div>
                      {{notification_data.text}}
                    </div>
                  </a>
                  {% endfor %}
                  -->
                {% if not notifications_days_left and not notifications_decisions %}
                  <a class="dropdown-item d-flex align-items-center" href={{ notification_data.url_redirect }}>
                    <div class="mr-3">
                      <div class="icon-circle bg-success">
                        <i class="fas fa-user text-white"></i>
                      </div>
                    </div>
                    <div>
                      No notifications to display
                    </div>
                  </a>
                {% endif %}
                <!--
                <a class="dropdown-item text-center small text-gray-800" href="http://localhost:8000/ff1b4751894e267c4fe3e1c7025670929c15c05b033800e088f9ce931a377912notifications">Show All Notifications</a>
                -->
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}" aria-expanded="true" data-toggle="tooltip" data-placement="bottom" title="Logout">
                <i class="fas fa-power-off fa-lg text-gray-500"></i>
              </a>
            </li>
          </ul>
        </nav>
      <!-- End of Topbar -->
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
        
      <!-- Begin Page Content -->
      {% block ContentView %}
      {% endblock %}
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "teacherview/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "teacherview/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "teacherview/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "teacherview/js/sb-admin-2.min.js" %}"></script>
  <script>
    function searchFunction(){
      var input = document.getElementById('searchbar').value;
      location.href="{% url 'student-search' %}" + '?query='+input;
    }
  </script>
  <script>
    function searchFunctionXS(){
      var input = document.getElementById('searchbarXS').value;
      location.href="{% url 'student-search' %}" + '?query='+input;
    }
  </script>
  {% block scripts %}
  {% endblock %}
</body>

</html>

