{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A state-of-the-art event communicator for school events creating a link between students and teachers to iron out wrinkles in the selection process.">
  <meta name="author" content="Team EventDiPS">
  <meta name="theme-color" content="#2196f3">
	<link rel="shortcut icon" type="image/png" href="{% static 'teacherview/EventDipsMini.png' %}"/>

  {% if page_title %}
    <title>{{page_title}}</title>
  {% else %}
    <title>EventDiPS</title>
  {% endif %}
  <style>
		body {
		background: linear-gradient(to left, #2193f0, #1cc88a 75%);
		}
	</style>
  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
   <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static "teacherview/css/sb-admin-2.min.css" %}" rel="stylesheet">

</head>

<body id="page-top" class="sidebar-toggled">
  <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4">
          <br><br class="d-none d-xs-block">
          <div class="jumbotron green lighten-4 m-0"  style='border-radius:50px 50px 50px 50px;'>
            <div class="display-1">
              <img src="https://commonfiles.ml/logo/EventDipsLarge.webp" width="100%" alt="EventDips">
            </div>
            <br>
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            <hr> 
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Security Questions</h1>
            </div>
            <form method="GET" action="{{ url_redirect }}">
              {% csrf_token %}
              {% for question in questions %}
                  <b><label for="answer">{{ question.question }}</label></b><br>
                  <input type="password" name={{ question.id }} id="answer" class="form-control bg-light border-0 small" placeholder="Enter Answer..." aria-describedby="basic-addon2">
                  <br><br>
              {% endfor %}
          
              <center>
                  <button class="btn btn-success" type="submit" style="width:100%; border-radius:25px; padding:15px;">Reset Password</button>
              </center>
          </form>
          </div>
        </div>
      </div>
    </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static "teacherview/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "teacherview/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "teacherview/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "teacherview/js/sb-admin-2.min.js" %}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>
