{% extends 'studentview/desktop/layout.html' %}

<!-- To display all the search results -->

{% block ContentView %}

<div class="container-fluid">
  <!-- Page Heading -->   
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <a href={{ header_redirect }}><h1 class="h3 mb-0 text-gray-800">{{ event_name }}</h1></a>
  </div>
  {% for event_data in subevents %}
    <div class="row">
      <div class="container-fluid">
        <div class="card shadow" style="border-radius: 25px;">
            <div class="card-header m-0 py-3 border-left-primary" style="border-radius: 0px 25px 25px 0px ;">
              <div class="row" style="width:100%;">
                <div class="d-inline">
                  <h2 class="font-weight-bold text-primary">&nbsp;{{ event_data.name }}</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                    <p><b>Dates Of Event</b>: {{ event_data.dates }}</p>
                    <p><b>Teacher Incharge</b>: {{ event_data.teacher_incharge }}</p>
                    <p><b>Deadline</b>: {{ event_data.last_date }}</p>
                    <p><b>Event Type</b>: {{ event_data.type }}</p>
                    {% if event_data.allowed_grades != "ALL" %}
                     <p><b>Grades</b>: {{ event_data.allowed_grades }}</p>
                    {% endif %}
                    <p><b>Available Slots</b>: {{ event_data.available_slots }}</p>
                    {% if event_data.category %}
                      <p><b>Category</b>: {{ event_data.category }}</p>
                    {% endif %}
                    {% if event_data.completed_check %}
                      <p><b>Event Status</b>: Registrations Completed</p>
                    {% else %}
                      <p><b>Event Status</b>: Registrations Open</p>
                    {% endif %}
                </div>
                <!-- not visible on xs devices-->
                <div class="col d-none d-sm-block">
                  {% if event_data.event_information != "" %}
                    <p><b>Event Description</b>: {{ event_data.event_information }}</p>
                  {% endif %}
                  {% if event_data.event_requirements != "" %}
                    <p><b>Requirements</b>: {{ event_data.event_requirements }}</p>
                  {% endif %}
				          {% if event_data.event_attachment != '' %}
                  	<p><b>Attachment</b>: <a href="{{ event_data.event_attachment.url }}" download><i class="fas fa-file"></i></a></p>
                  {% endif %}
                </div>
                <!--Only visible on xs devices-->
                <div class="row d-block d-sm-none">
                  <div class="col">
                    {% if event_data.event_information != "" %}
                      <p><b>Event Description</b>: {{ event_data.event_information }}</p>
                    {% endif %}
                    {% if event_data.event_requirements != "" %}
                      <p><b>Requirements</b>: {{ event_data.event_requirements }}</p>
                    {% endif %}
                    {% if event_data.event_attachment != '' %}
                      <p><b>Attachment</b>: <a href="{{ event_data.event_attachment.url }}" download><i class="fas fa-file"></i></a></p>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% if not event_data.completed_check %}
                {% if event_data.my_registered_event %}
                  <div class="card-footer blue lighten-1">
                    <h4 style="vertical-align: middle;color:white;" align='center'>
                      REGISTRATION SENT
                    </h4>
                  </div>
                {% else %}
                  <a href={{ event_data.url_redirect }} style="text-decoration:none">
                    <div class="card-footer blue lighten-1">
                      <h4 style="vertical-align: middle;color:white;" align='center'>
                        REGISTER
                      </h4>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}