<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Forgot Password - Eventdips</title>
  </head>
  <body>
    <h2>
        <img src="https://commonfiles.ml/logo/EventDipsMedium.png" width="50%">
    </h2>
    <hr>
    <p>We have sent you this email in response to your request to reset your password on eventdips.ga:8081</p>
    <br>
    <p>We recommend that you keep your password secure and not share it with anyone. If you feel your password has been compromised, you can change it by clicking on forgot password link.</p>
    <br>
    <p>If you need help, or you have any other questions, feel free to email <a href="mailto:support@eventdips.ga">support@eventdips.ga</a></p>
    <br>
    <p>Click the link below to reset your password.</p>
    <br>
    <p><a href="{{ email }}">{{ email }}</a></p>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>