{% extends 'teacherview/desktop/layout.html' %}
{% load crispy_forms_tags %}

{% block ContentView %}
<style>
	input{
		border-width:0px;
		border:none;
		color: #52c456;
	}
	input::placeholder{color:#4acf50}
</style>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<div class="container-fluid">
	<div class="card shadow mb-4" style="border-radius: 25px;">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="card-header border-left-success">
				<b><h4 class="m-0 font-weight-bold text-success" style="input{border-width:0px;border:none;color: #4caf50;::placeholder{color:#4acf50}}">{{ form.event_name }}</h4></b>
			</div>
			<div class="card-body">
				<fieldset class="form-group" id="EventForm">
					<div class="row">
						<div class="col">
							<label for="event_type">Event Participation Type: </label>
							{{ form.event_type }}
							<small class="text-disabled">Individual Event or Group Event</small>
							<br>
							<br>
							<label for="category">Category: </label>
							{{ form.category }}
							<small class="text-disabled">Event Category</small>
							<br>
							<br>
							<label for="teacher_incharge">Teacher Incharge: </label>
							{{ form.teacher_incharge }}
							<br>
							<label for="maximum_applicants">Maximim applications: </label>
							{{ form.maximum_applicants }}
							<small class="text-disabled">Maximum Number Of Applications</small>
							<br>
							<br>
							<label for="maximum_participants">Maximum pariticipants: </label>
							{{ form.maximum_participants }}
							<small class="text-disabled">Maximum Number Of Students Who Can Participate In An Event</small>
							<br>
							<br>
							<label for="allowed_grades">Allowed Grades: </label>
							{{ form.allowed_grades }}
							<small class="text-disabled">Grades Allowed. (Eg: 9th,10th)</small>
							<br>
							<br>
							<label for="add_attachment">Attachment: </label>
							{{ form.add_attachment }}
							<small class="text-disabled"></small>
							<br>
							<br>
						</div>
						<div class="col">
							<label for="requirements">Additional Requirements: </label>
							{{ form.requirements }}
							<small class="text-disabled">Requirements or Selection Criteria.</small>
							<br>
							<br>
							<label for="event_description">Event Description: </label>
							{{ form.event_description }}
							<small class="text-disabled">Information About the Event (eg: Website Links)</small>
							<br>
							<br>
							<label for="registration_deadline">Last Date To Apply: </label>
							{{ form.registration_deadline }}
							<small class="text-disabled">Last Date Of Registration (eg: 03/12/2019)</small>
							<div class="row">
								<div class="col">
									<br>
									<label for="start_date">Event Start Date: </label>
									{{ form.start_date }}
									<small class="text-disabled">Start Date Of The Event (eg: 01/01/2020)</small>
								</div>
								<div class="col">
									<br>
									<label for="last_date">Event End Date: </label>
									{{ form.last_date }}
									<small class="text-disabled">Last Date Of The Event (eg: 03/01/2020)</small>
								</div>
							</div>
						</div>
					</div>	
					<div class="form-group">
						<center>
							<button class="btn btn-success" type="submit" name="file" style="width:100%; border-radius:25px; padding:15px;">Submit</button>
						</center>
					</div>				
				</fieldset>
			</div>
		</form>
	</div>
</div>
{% endblock %}