{% extends 'teacherview/mobile/layout.html' %}


{% block ContentView %}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4"> 
        <h2 class="text-secondary">All Notifications</h2>
    </div>
    <div class="card shadow">
        <div class="card-header" style="border-radius:3rem">
            <h4 class="text-success">Days Left</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for notification in Days_Left %}
                    <li class="list-group-item"><a class="text-secondary" ='{{ notification.url_redirect }}'><strong>{{ notification.event_name }}</strong> - {{ notification.days_left }} days</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <div class="d-sm-flex align-items-center justify-content-between mb-4"> 
        <h2 class="text-secondary">All Applications</h2>
    </div>
    {% for notification in Application_Sent %}
        <div class="card shadow">
            <div class="card-header" style="border-radius:3rem">
                <h4 class="text-success">{{ notification.event_name }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><a class="text-secondary" href={{ notification.url_redirect }}><strong>{{ notification.student_name }}</strong></a></li>
                </ul>
            </div>
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}