{% extends 'teacherview/desktop/layout.html' %}

{% block ContentView %}

<div class="container-fluid">
  <div class="card shadow mb-4 border-primary" style="border-radius: 25px;">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="border-radius: 3rem;">
      <div>
        <h3 class="m-0 font-weight-bold text-primary">Registered Students: '<a class="text-primary" href={{ header_redirect }}>{{ subevent_name }}</a>'</h3>
      </div>
      <div align="right">
        <a href={{ header_redirect }}>
          <i class="fas fa-arrow-left fa-2x" style="color: rgb(51, 177, 51);"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><h6><b>Name</b></h6></th>
              <th><h6><b>Class</b></h6></th>
              <th><h6><b>Section</b></h6></th>
              <th><h6><b>Status</b></h6></th>
            </tr>
          </thead>
          <tbody>
            {% for student_data in Registrations %}
              <tr>
                <td><p><b><a href={{ student_data.url_redirect }}>{{ student_data.name }}</a></b></td>
                <td><p><b>{{ student_data.class }}</b></p></td>
                <td><p><b>{{ student_data.section }}</b></p></td>
                <td><p><b>{{ student_data.status }}</b></p></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}