{% extends 'teacherview/mobile/layout.html' %}

{% block ContentView %}

<div class="container-fluid">
  <!-- Page Heading -->   
  {% if subevent_name != event_name %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <a href={{ header_redirect }}><h1 class="h3 mb-0 text-gray-800">{{ event_name }}- {{ subevent_name }}</h1></a>
    </div>
  {% else %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <a href={{ header_redirect }}><h1 class="h3 mb-0 text-gray-800">{{ subevent_name }}</h1></a>
    </div>
  {% endif %}

  {% for student_data in Registration %}
    <div class="row">
      <div class="container-fluid">
        {% if student_data.status == "Accepted" %}
          <div class="card shadow border-success" style="border-radius: 0px 25px 25px 25px;">
        {% elif student_data.status == "Rejected" %}
          <div class="card shadow border-danger" style="border-radius: 0px 25px 25px 25px;">
        {% else %}
          <div class="card shadow border-primary" style="border-radius: 0px 25px 25px 25px;">
        {% endif %}
            {% if student_data.status == "Accepted" %}
              <div class="card-header m-0 border-left-success" style="border-radius: 0px 25px 25px 0px;">
                <h2 class="font-weight-bold text-success">{{ student_data.name }}</h2>
              </div>
            {% elif student_data.status == "Rejected" %}
              <div class="card-header m-0 border-left-danger" style="border-radius: 0px 25px 25px 0px;">
                <h2 class="font-weight-bold text-danger">{{ student_data.name }}</h2>
              </div>
            {% else %}
              <div class="card-header m-0 border-left-primary" style="border-radius: 0px 25px 25px 0px;">
                <h2 class="font-weight-bold text-primary">{{ student_data.name }}</h2>
              </div>
            {% endif %}
            <div class="card-body">
                <div class="row align-items-start">
                    <div class="col">
                        <h6><b>Class</b>: {{ student_data.class }}</h6>
                        <h6><b>Section</b>: {{ student_data.section }}</h6>
                        <h6><b>Registration Information</b>: {{ student_data.info }}</h6>
                        <h6><b>Acheivements</b>: {{ student_data.ego_flex }}</h6>
                        <h6><b>Current Status</b>: {{ student_data.status }}</h6>
                    </div>
                  </div>
            </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col">    
                    <a href={{ url_redirect_1 }}>
                      <li class="list-group-item btn-success"><h4 class="m-0 text-white" align='center'>ACCEPT</h4></li>
                    </a>
                  </div>
                  <div class="col">
                    <a href={{ url_redirect_2 }}>
                      <li class="list-group-item btn-danger"><h4 class="m-0 text-white" align='center'>REJECT</h4></li>
                    </a>
                  </div>
                </div>
                <br>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}