{% extends 'teacherview/mobile/layout.html' %}

{% block ContentView %}

<div class="container-fluid">
  <!-- Page Heading -->   
  {% if subevent_name != event_name %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <a href={{ header_redirect }}><h1 class="h3 mb-0 text-gray-800">{{ event_name }}- {{ subevent_name }}</h1></a>
    </div>
  {% else %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <a href={{ header_redirect }}><h1 class="h3 mb-0 text-gray-800">{{ subevent_name }}</h1></a>
    </div>
  {% endif %}

  {% for student_data in Registration %}
    <div class="row">
      <div class="container-fluid">
        {% if student_data.status == "Accepted" %}
          <div class="card shadow" style="border-radius: 25px 0px 25px 25px;">
        {% elif student_data.status == "Rejected" %}
          <div class="card shadow border-danger" style="border-radius: 25px 0px 25px 25px;">
        {% else %}
          <div class="card shadow border-primary" style="border-radius: 25px 0px 25px 25px;">
        {% endif %}
            {% if student_data.status == "Accepted" %}
              <div class="card-header m-0" style="border-radius: 25px 0px 25px 0px;">
                <h2 class="font-weight-bold text-success">{{ student_data.name }}</h2>
              </div>
            {% elif student_data.status == "Rejected" %}
              <div class="card-header m-0" style="border-radius: 25px 0px 25px 0px;">
                <h2 class="font-weight-bold text-danger">{{ student_data.name }}</h2>
              </div>
            {% else %}
              <div class="card-header m-0" style="border-radius: 25px 0px 25px 0px;">
                <h2 class="font-weight-bold text-primary">{{ student_data.name }}</h2>
              </div>
            {% endif %}
            <div class="card-body">
                <div class="row align-items-start">
                    <div class="col">
                        <h6><small>Class</small>: {{ student_data.class }}</h6>
                        <h6><small>Section</small>: {{ student_data.section }}</h6>
                        <h6><small>Registration Information</small>: {{ student_data.info }}</h6>
                        <h6><small>Acheivements</small>: <a href={{ view_achievement_redirect }}>View Achievements</a></h6>
                        <h6><small>Previous Particpations</small>: <a href={{ view_previous_redirect }}>View Previous Events</a></h6>
                        {% if student_data.group_type %}
                          <h6><small>Group Members</small>: <b>{{ student_data.team_members}}</b></h6>
                        {% endif %}
                        <h6><small>Current Status</small>: {{ student_data.status }}</h6>
                    </div>
                  </div>
            </div>
              <div class="container-fluid">
                <div class="btn-group btn-group-justified" style="border-radius:2rem;">   
                  <a href={{ url_redirect_1 }} class="btn btn-success">
                    Accept
                  </a>
                  <a href={{ url_redirect_2 }} class="btn btn-danger">
                    Reject
                  </a>
                </div>
                <br>
              </div>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}